% Common project erlang options.
{erl_opts, [
    debug_info,
    warnings_as_errors,
    warn_export_vars,
    warn_shadow_vars,
    warn_obsolete_guard
]}.

% Common project dependencies.
{deps, [
    {woody, ".*", {git,"git@github.com:rbkmoney/woody_erlang.git",{branch, "master"}}},
    {genlib, {git, "https://github.com/rbkmoney/genlib.git", {branch, "master"}}}
]}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    % locals_not_used,
    deprecated_functions_calls,
    deprecated_functions
]}.

{dialyzer, [
    {warnings, [
        unmatched_returns,
        error_handling,
        race_conditions,
        %underspecs,
        unknown
    ]},
    {plt_apps, all_deps}
]}.
